<% if (locals.shortCode) { %>
    <% let code=shortCode %>
        <% let url=fullURL %>
            <div class="z-10">
                <h3 class="text-[#384949] text-xl font-semibold pb-2 md:pb-5">Your Shorten Link</h3>
                <div class="w-full h-auto flex flex-col space-y-3" onclick="addURL('<%=shortCode %>','<%=fullURL%>')">
                    <div class="w-full bg-white rounded-lg  p-3 flex justify-between items-center shadow-lg">
                        <a href="<%= shortCode%>" target="_blank" id="shorturl"
                            class="text-blue-800 text-md md:text-2xl">
                            shtner.herokuapp.com/<%=shortCode%>
                        </a>
                        <button
                            class="bg-[#ff9f00]/20 p-2 rounded-lg active:bg-[#ff9f00]/30 shadow-md shadow-[#ff9f00]/20 active:shadow-[#ff9f00]/30"
                            onclick="copy('https://shtner.herokuapp.com/<%=shortCode%>')">
                            <img src="../images/copy.png" alt="copy" class="w-6 h-6" />
                        </button>
                    </div>
                </div>
            </div>
            <% } %>