<!DOCTYPE html>
<html lang="en">

<%- include('headTag')%>

    <body class="w-full relative h-[90vh] md:h-screen bg-[#fffcef]">
        
        <div class="absolute opacity-100  md:opacity-80 -z-10 inset-0 bg-img hover:scale-1"></div>
        <%- include('_header') %>
            <section class="w-full h-auto flex justify-center items-center items-center py-[8%] md:py-[7%]">
                <div class="p-5 space-y-10">
                    <%- include('__heading') %>
                        <%- include('__form') %>
                            <%- include('__urls') %>
                </div>
                </div>
            </section>
            <%- include('_footer') %>
                <script src="../public/main.js"></script>
    </body>

</html>