<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#ff9f00">
    <meta name="description" content="free url shortner in google.">
    <meta name="keywords" content="free url shortner,best url shortner,tiny url,url shortner google">
    <link rel="shortcut icon" href="../images/favicon-32x32.png" type="image/x-icon">
    <title>URL Shortener</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="w-full h-screen bg-[#fffcef] container">
    <%- include('_header') %>
        <section class="w-full h-auto flex justify-center items-center py-7 md:py-14">
            <div class="p-5 space-y-10">
                <%- include('__heading') %>
                    <%- include('__form') %>
                        <%- include('__urls') %>
            </div>
            </div>
        </section>
        <%- include('_footer') %>
            <script>
                const urlText = document.querySelector('#shorturl')
                function copy() {
                    console.log(urlText.innerText)
                    navigator.clipboard.writeText(`https://${urlText.innerText}`)
                }
            </script>
</body>

</html>